{{>sidebar}}

<div id="content">
  {{>navigation}}
  {{>message}}
  <div class="menu_info card mt-4">
    <div class="card-body card-buscador">
      <div class="col-auto">
        <div class="row">
          <form action="/horarios/search" method="post" class="col-md-6 mb-2 input-group">
            <input type="text" class="form-control" name="txtBuscar" id="tableSearch" placeholder="Buscar por maestro..." />
            <div class="input-group-prepend">
              <button type="submit" class="btn btn-info">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          <div class="col-md-6 my-auto" style="text-align: right;">
          </div>
        </div>
      </div>
    </div>

    <div class="card-body card-h5 bg-gray">
      <div class="container">
        <h5>Maestros</h5>
      </div>
    </div>

    <div class="card-body col-12">
      <div class="table-responsive">
        <table class="table table-hover" style="font-size: 14px;">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Academia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each maestros}}
            <tr>
              <td>{{nombre}}</td>
              <td>{{academia}}</td>
              <td>
                <!--BOTÓN ACCIONES-->
                <div class="btn-group dropleft">             
                  <div>
                     <a href="/horarios/addv2/{{id}}" 
                      class="btn btn-size-right btn-info ml-1" id="btn-delete">
                      Elegir horarios
                    </a>
                  </div>
                </div>
                <!--END BOTÓN ACCIONES-->
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--END TABLA-->

  <script type="module" src="/js/index.js"></script>
</div>