{{>message}}

<div class="container d-flex align-items-center justify-content-center h-100">
    <div class="">
        <div class="col-xl-12 text-center">
            <h1>Ooops!</h1>
            <h1>404 not found</h1>
            <h3>Sitio web no encontrado</h3>
            <a href="/" class="btn btn-primary mt-4">Regresar</a>
        </div>
    </div>
</div>